body {
    font-family: 'Courier New', Courier, monospace ;
    background-color: hsl(227, 10%, 10%);
}
h1, h2 {
    text-align: center;
    line-height: 1.5em;
}
h1 {
    font-size: 40px;
    font-weight: bold;
}
h2 {
    font-size: 18px;
    font-weight: normal;
}
header {
    width: 100%;
    background-color: hsl(227, 10%, 30%);
    padding: 5px;
    color: white;
    box-shadow: 0 0 10px black;
}
main {
    width: 100%;
    padding-top: 20px;
}
#calculator {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 6px;
    column-gap: 6px;
    width: 400px;
    height: 600px;
    margin: 0 auto;
    background-color: #AAA;
    padding: 20px;
    border-radius: 25px;
}
#equals {
    grid-area: 5 / 4 / 7 / 5;
}
.button{
    background-color: #555;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 26px;
}
.button:hover {
    background-color: #666;
    
}
.button:active {
    background-color: #333;
}
#calculator #display {
    grid-area: 1 / 1 / 2 / 5;
    background-color: black;
    font-size: 60px;
    padding: 20px 20px 10px;
    justify-content: flex-end;
    word-wrap: none;
    overflow: scroll;
    color: white;
    display: flex;
    align-items: center;
}
.button.operator {
    background-color:  #777;
}
.button.operator:hover {
    background-color: #888;
}
.button.operator:active {
    background-color: #666;
}
[data-do="0"] {
    grid-area: 6/2/7/4;
}
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: hsl(227, 10%, 30%);
    box-shadow: 0 0 6px hsl(198, 17%, 30%);
    text-align: center;
    color: white;
    padding: 1em;
}
a {
    color: lightgray;
    text-decoration: none;
    font-weight: 600;
}
a:hover {
    text-decoration: underline;
    color: white;
}